{% extends 'booking/base.html' %}

{% block head %}
{% if type == 'register' %}
<style>
.unavailable{
    cursor: not-allowed !important;
}

.taken{
    cursor: default !important;
}
</style>
{% endif %}
{% endblock %}

{% block title %}メインページ{% endblock %}  
    
{% block content %}
    <div class="card border-info">
        <div class="card-header">
            <h2 class="card-title text-info">現在の座席表
                {% if type != 'register'%}
                <button class="btn btn-warning" style="display: inline-block; float: right" onclick="location.href = '{% url 'logout' %}'">ログアウト</button>
                {% endif %}
            </h2> 
        </div>
        <div class="card-body">
        <p class="legend">
            {% if type == 'register'%}
            <span class="text-success">緑</span>: 空席　<span class="text-danger">赤</span>: 使用中　<span class="text-secondary">グレー</span>: 使用不可
            <br/>
            <span class="text-success">Green</span>: Vacant　<span class="text-danger">Red</span>: Used　<span class="text-secondary">Grey</span>: Unavailable
            {% else %}
            <span class="text-success">緑</span>: 空席　<span class="text-warning">黄</span>: 使用中（インターネット無し） <span class="text-danger">赤</span>: 使用中（インターネット有り）　<span class="text-secondary">グレー</span>: 使用不可
            {% endif %}
            <p id="registermessage" class="text-success">{{ message }}</p>
        </p>
                {% with seatmap_attribute as seatmap_attribute %}
                {% with action_type as action_type %}
                    {% include "booking/seatmap.html" %}
                {% endwith %} 
                {% endwith %}
        </div>

        {% if type == 'register' %}
        <div class="buttons">
            <button class="btn btn-success" style="display: inline-block" onclick="location.href = '{% url 'check_in' 1 %}'">入室<br/>Check in</button>
            <button class="btn btn-danger" style="display: inline-block" onclick="location.href = '{% url 'check_out' %}'">退室<br/>Check out</button>
        </div>
        {% elif type == 'admin' %}
        <div class="buttons">
            <button class="btn btn-secondary" style="display: inline-block" onclick="location.href = '{% url 'unavailable_seatmap' %}'">利用不可にする座席の選択</button>
            <button class="btn btn-primary" style="display: inline-block" onclick="location.href = '{% url 'admin:index' %}'">生徒アカウントの編集<br/>管理用アカウントの編集</button>
        </div>
        {% endif %}
    </div>
    
    <script>
        $(function(){
            setTimeout(function(){
                $('#registermessage').fadeOut();
            }, 3000);
        });
    </script>
    
{% endblock %}